<div class="informations">
  <div class="contacts">
    <div class="button-container">
      <div class="contact-item">
        <img
          class="lien-button"
          src="assets/gmail.png"
          alt="Gmail Logo"
          style="height: 50px"
        />
        <button (click)="copyEmailAndOpen()">
          {{ copiedEmail ? "Email copié !" : email }}
        </button>
      </div>

      <hr />

      <div class="contact-item">
        <img src="assets/phone.png" alt="Phone Logo" style="height: 50px" />
        <button (click)="copyPhoneNumber()">
          {{ copiedPhone ? "Numéro copié !" : phoneNumber }}
        </button>
      </div>
    </div>
  </div>
</div>
