<div class="cards-container">
  <div class="cards">
    <app-card-competences
      titre="Réaliser"
      description="Développer consiste à concevoir, coder, tester et intégrer une solution informatique pour un client."
      [couleurTitre]="'#B80805'"
    ></app-card-competences>
    <app-card-competences
      titre="Optimiser"
      description="Proposer des applications optimisées en fonction de critères spécifiques."
      [couleurTitre]="'#ED8C51'"
    ></app-card-competences>
    <app-card-competences
      titre="Administrer"
      description="Installer, configurer, mettre à disposition, maintenir et optimiser les systèmes informatiques, infrastructures, services et réseaux d’une organisation."
      [couleurTitre]="'#EFBA12'"
    ></app-card-competences>
    <app-card-competences
      titre="Gérer"
      description="Concevoir, gérer, administrer et exploiter les données de l’entreprise pour assurer un bon pilotage en mettant à disposition les informations nécessaires."
      [couleurTitre]="'#8CC750'"
    ></app-card-competences>
    <app-card-competences
      titre="Conduire"
      description="
      Satisfaire les besoins des utilisateurs en tenant compte de la chaîne de valeur du client, tout en organisant et pilotant un projet informatique avec des méthodes classiques ou agiles."
      [couleurTitre]="'#0B205D'"
    ></app-card-competences>
    <app-card-competences
      titre="Collaborer"
      description="Acquérir, développer et exploiter les aptitudes nécessaires pour travailler efficacement au sein d’une équipe informatique."
      [couleurTitre]="'#0F0F0F'"
    ></app-card-competences>
  </div>
</div>
