body {
    background-image: url("../src/assets/background.png");
    background-size: cover;
}

@media screen and (max-width: 834px) {
    body {
        background-image: none;
        background-color: #CCE3DE;
    }

}