/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("../src/assets/background.png");
    background-size: cover;
}

@media screen and (max-width: 834px) {
    body {
        background-image: none;
        background-color: white;
    }

}