<nav class="navbar">
  <div class="menu-toggle" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <ul class="nav-list" [class.showing]="isMenuOpen" (click)="closeMenu()">
    <li><a routerLink="">À propos de moi</a></li>
    <li><a routerLink="competences">Mes compétences</a></li>
    <li><a routerLink="projets">Mes projets</a></li>
    <li><a routerLink="contacts">Me contacter</a></li>
  </ul>
  <div class="navbar-text">
    <span><b>Anli-Yachourti MOHAMED</b> / Informaticien</span>
  </div>
</nav>
