<div class="information">
  <div class="info-gauche">
    <div class="info-gauche-top">
      <div class="photo">
        <img class="photo-cv" src="assets/photo.jpeg" alt="photo" />
      </div>
      <br />
      <div class="nom">
        <h3>
          Anli-Yachourti <br />
          MOHAMED
        </h3>
      </div>
      <hr />
      <div class="titre">
        <p>Étudiant en informatique</p>
      </div>
    </div>
    <div class="info-gauche-bottom">
      <div class="contacts">
        <a href="mailto:yash.mohamed976@gmail.com" class="lien-button">
          <img src="assets/gmail.png" alt="Logo" />
        </a>
        <a
          href="https://www.linkedin.com/in/anli-yachourti-mohamed/"
          class="lien-button"
        >
          <img src="assets/linkedin.png" alt="Logo" />
        </a>
      </div>
    </div>
  </div>

  <div class="info-droite">
    <div class="detail">
      <h1>Bonjour ! 👋🏾</h1>
      <h3 class="sous-titre">
        <b>Vous retrouverez en dessous mes informations</b>
      </h3>

      <div class="boutons">
        <button class="button" routerLink="/cv">CV</button>
        <button class="button" routerLink="/projets">Mes projets</button>
        <button class="button" routerLink="/contacts">Me contacter</button>
      </div>

      <ul class="description">
        <li>Étudiant de 19 ans au département informatique de l'IUT de Blagnac</li>
        <li>Actuellement en 2ème année</li>
        <li>À la recherche d'une alternance pour la 3ème année</li>
      </ul>
    </div>
    <div class="download-cv">
      <a  href="../../assets/CV_Mohamed.pdf" download="CV_MOHAMED.pdf" class="button">Cliquer ici pour télécharger mon CV 📄</a>
    </div>
  </div>
</div>
